body{
  background-image: url("../img/game-background.jpg");
  
}

img[alt="drake-head"]{
  max-height: 100px; 
  margin-top: 45%;
    position: absolute;
  bottom: 0;
}

img[alt="black-box"]{
  max-height: 100px;
  margin-top: 45%;
  margin-left: 75%;
    position: absolute;
  bottom: 0;
}

#drake-text{
  font-size: 500%;
}

@font-face{
  font-family: "drake";
  src: url("Drake-Neue-Regular.otf");
}

h1, header{
  font-family: "drake";
  
}

header {
  
  width:100%;
  height: 80px;
  font-size: 32pt;
  color: rgb(240,230,140);
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

#link{
  color: black;
}
